<!DOCTYPE html>
<html
        layout:include="layouts/base :: base-template"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "/css/bootstrap.css" rel = "stylesheet"/>
    <link href = "/css/bootstrap.min.css" rel = "stylesheet"/>
    <link href = "/css/bootstrap-theme.css" rel = "stylesheet"/>
    <link href = "/css/bootstrap-theme.min.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>My Project Plan</h1>
</div>
<div class="container">

    <div class="starter-template">
        <h1>Add New Task</h1>
    </div>
    <div th:switch="${addTaskStatus}">
        <div th:case="'success'" class="panel-success panel">
            <div class="bg-success panel-heading">Congratulation!!</div>
            <div class="panel-body"><div th:text="${addTaskStatus}"></div></div>
        </div>
        <div th:case="'failed'" class="panel-danger panel">
            <div class="bg-success panel-heading">Sorry!!</div>
            <div class="panel-body"><div th:text="${addTaskStatus}"></div></div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form
            th:action="@{'/add/task'}"
            th:object="${task}"
            id="add-project-form"
            method="post">
            <input type="text" class="form-control hidden" name="projectId" placeholder="Task Name" th:value="${projectId}" >
            <div class="form-group">
                <label for="taskName">Task Name</label>
                <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Task Name" required>
            </div>
            <div class="form-group">
                <label for="taskDescription">Task Description</label>
                <input type="text" class="form-control" id="taskDescription" name="Description" placeholder="Task Description" required>
            </div>
            <div class="form-group">
                <label for="taskDuration">Task Duration</label>
                <input type="number" class="form-control" id="taskDuration" name="Duration" placeholder="Task Duration" required>
            </div>
            <button type="submit"  class="btn btn-success">Save</button>
            <a th:href="@{'/project/info/'+${projectId}}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div><!-- /.container -->

</body>
</html>