<!DOCTYPE html>
<html
        layout:include="layouts/base :: base-template"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <link href = "css/bootstrap.min.css" rel = "stylesheet"/>
    <link href = "css/bootstrap-theme.css" rel = "stylesheet"/>
    <link href = "css/bootstrap-theme.min.css" rel = "stylesheet"/>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Spring Boot Application</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>My Project Plan</h1>
</div>
<div class="container">

    <div class="starter-template">
        <div th:switch="${deletedProject}">
            <div th:case="'success'" class="panel-success panel">
                <div class="bg-success panel-heading">Congratulation.</div>
                <div class="panel-body"><span th:text="${deletedProject}"></span>!!</div>
            </div>
            <div th:case="'failed'" class="panel-danger panel">
                <div class="bg-success panel-heading">Sorry!!</div>
                <div class="panel-body"><span th:text="${deletedProject}"></span>!!</div>
            </div>
        </div>
        <h1>Projects <a th:href="@{'/add/project'}"><button type="button" class="btn btn-primary">Add Project</button></a></h1>
    </div>
    <div class="col-md-12">
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Tools</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="projects: ${projects}">
                            <td th:text="${projects.id}"></td>
                            <td th:text="${projects.projectName}"></td>
                            <td th:text="${projects.description}"></td>
                            <td>
                                <a th:href="@{'/edit/'+${projects.id}}"><button type="button" class="btn btn-default">Edit</button></a>
                                <a th:href="@{'/project/info/'+${projects.id}}"><button type="button" class="btn btn-info">Info</button></a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target=@{'#'+ ${projects.id}}">Delete</button>

                                <!--modal-->
                                <div class="modal fade" th:attr="id=${projects.id}" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Please Confirm.</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:action="@{'/delete/project/'+${projects.id}}" method="post">
                                                    <button type="submit" class="btn btn-success">Confirm</button>
                                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>