<!DOCTYPE html>
<html
        layout:include="layouts/base :: base-template"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "ISO-8859-1" />
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link href = "../../css/bootstrap.css" rel = "stylesheet"/>
    <link href = "../../css/bootstrap.min.css" rel = "stylesheet"/>
    <link href = "../../css/bootstrap-theme.css" rel = "stylesheet"/>
    <link href = "../../css/bootstrap-theme.min.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>My Project Plan</h1>
</div>
<div class="container">
    <div class="starter-template">
        <div th:switch="${deletedTask}">
            <div th:case="'success'" class="panel-success panel">
                <div class="bg-success panel-heading">Congratulation</div>
                <div class="panel-body"><span th:text="${deletedTask}"></span>!!</div>
            </div>
            <div th:case="'failed'" class="panel-danger panel">
                <div class="bg-success panel-heading">Sorry!!</div>
                <div class="panel-body"><span th:text="${deletedTask}"></span>!!</div>
            </div>
        </div>
        <h1>Project Info <span class="pull-right"><a th:href="@{'/'}"><button type="button" class="btn btn-light"><span class="glyphicon glyphicon-arrow-left"> Back</span></button></a></span></h1>
    </div>
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>Project Id: </b><span th:text="${projectInfo.id}"></span></p>
                    <p><b>Project Name: </b><span th:text="${projectInfo.projectName}"></span></p>
                    <p><b>Project Description: </b><span th:text="${projectInfo.description}"></span></p>
                    <p><b>Date Created: </b><span th:text="${#strings.substring(#strings.replace(projectInfo.created_date,'T',' '),0,16)}"></span></p>
                    <p><b>Estemated End Date: </b><span th:text="${#strings.replace(EstimatedEndDate,'T',' ')}"></span></p>
                </div>
            </div>
        </div>

        <div class="starter-template">
            <h1>Project Tasks <a th:href="@{'/add/task/'+${projectInfo.id}}"><button type="button" class="btn btn-primary">Create Task</button></a></h1>
        </div>
        <div id="table-wrapper">
            <div id="table-scroll">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Duration/Hr</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Tools</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tasks: ${projectTask}">
                        <td th:text="${tasks.id}"></td>
                        <td th:text="${tasks.taskName}"></td>
                        <td th:text="${tasks.description}"></td>
                        <td th:text="${tasks.duration}"></td>
                        <td th:text="${#strings.replace(tasks.startDate,'T',' ')}"></td>
                        <td th:text="${#strings.replace(tasks.endDate,'T',' ')}"></td>
                        <td>
                            <a th:href="@{'/edit/task/'+${tasks.id}}"><button type="button" class="btn btn-default">Edit</button></a>
                            <a th:href="@{'/task/info/'+${tasks.id}}"><button type="button" class="btn btn-info">Info</button></a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target=@{'#'+ ${tasks.id}}">Delete</button>
                            <!--modal-->
                            <div class="modal fade" th:attr="id=${tasks.id}" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Please Confirm.</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{'/delete/task/'+${tasks.id}}" method="post">
                                                <button type="submit" class="btn btn-success">Confirm</button>
                                                <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>